<h1>Add warehouse</h1>

<form class="form" [formGroup]="form">
  <mat-form-field class="example-full-width">
	<span>Name:</span>
    <input formControlName="name" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<span>Address:</span>
    <input formControlName="address" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<span>Contact:</span>
    <input formControlName="contact_details" matInput>
  </mat-form-field>
</form>

<button mat-button (click)="send()">Send</button>