<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        Warehouse application
    </button>

    <button mat-button routerLink="/stock">Stock</button>
    <button mat-button routerLink="/item">Products</button>
    <button mat-button routerLink="/warehouse">Warehouses</button>
    <button mat-button routerLink="/vendor">Vendor</button>
    <button mat-button routerLink="/user">Users</button>

</mat-toolbar>

<!--

<mat-toolbar color="primary">
  <button mat-button href="/">
    <mat-icon>home</mat-icon>
    Issue tracker
  </button>
s
  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button href="/issues">My issues</button>
    <button mat-button href="/issues/add">New issues</button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item href="/issues">My issues</button>
  <button mat-menu-item href="/issues/add">New issues</button>
</mat-menu>

-->
<div id="main">
<router-outlet></router-outlet>
</div>
