<h1>Add stock</h1>

<form class="form" [formGroup]="form">
  <mat-form-field class="example-full-width">
	<span>Quantity:</span>
    <input formControlName="quantity" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<span>Item id:</span>
    <input formControlName="itemid" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<span>Warehouse id:</span>
    <input formControlName="warehouseid" matInput>
  </mat-form-field>
</form>

<button mat-button (click)="send()">Send</button>