h1 {
	text-align: center;
	margin: 10px auto;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 100px;
}

img {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	display: block;
}

span {
	margin-left: 10px;
}

#a {
	color: green;
}

#b {
	color: red;
}

#c {
	color: yellow;
}

#d {
	color: blue;
}

#asd {
	max-width: 766px;
	text-align: justify;
	display: block;
	margin: 0 auto;
}